# Wstęp

W ramach ćwiczeń i nauki bibloteki pandas wykorzystam dane z strony: <br />
https://www.kaggle.com/jessemostipak/hotel-booking-demand <br />
Celem tego notatnika jest nauka podstawowej obsługi dataframe'ów, oraz posiadania na przyszłość "mini ściągawki" w przyszłych projektach. <br />
Data frame możemy dla lepszego zrozumienia jego działnia wyobrazić sobie, że jest to "ulepszenie" zwykłego słownika, którego wartości są listą, np.:

In [50]:
import pandas as pd
napoje = {
    'nazwa': ["Yerba mate", "Zielona herbata", "Czarna herbata"],
    'kofeina': ["200", "150", "160"],
    'ilosc_parzen': ["8", "3", "1"]
}
df = pd.DataFrame(napoje)
df

             nazwa kofeina ilosc_parzen
0       Yerba mate     200            8
1  Zielona herbata     150            3
2   Czarna herbata     160            1

In [51]:
df = pd.read_csv('hotel_bookings.csv')

Sprawdźmy liczbę wierszy i kolumn:

In [52]:
df.shape

(119390, 32)

Przyjrzymy się dokładniej kolumnom, czyli ich nazwy, typ:

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

Mamy 32 kolumny, 3 rodzaje danych: float, int i object. Odrazu możemy zauważyć, że kolumna "company" **zawiera znacząco więcej pustych krotek** w porównaniu do reszty. <br />
Dodatkowo zauważmy, że duża część tych kolumn to tak naprawdę dane kategoryczne. Musimy później przyjrzeć się dokładnie, które są danymi kategorycznymi oraz czy są nominalne czy porządkowe. (porządkowe to takie dzięki któremu można uporządkować dane, np. ilość domów a dane nominalne to, np. kolor ścian domu). <br />
Napewno musimy wykorzystać technikę "gorącojedynkową" dla kolumn takich jak "reserved_room_type", aby przyszłe algorytmy mogły je zinterpretować, oraz nie uważały, że pokój typu A jest większy od pokoju typu C

In [54]:
df.select_dtypes("object")

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
2,Resort Hotel,July,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out,2015-07-02
3,Resort Hotel,July,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,2015-07-02
4,Resort Hotel,July,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,August,BB,BEL,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-06
119386,City Hotel,August,BB,FRA,Online TA,TA/TO,E,E,No Deposit,Transient,Check-Out,2017-09-07
119387,City Hotel,August,BB,DEU,Online TA,TA/TO,D,D,No Deposit,Transient,Check-Out,2017-09-07
119388,City Hotel,August,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07
119389,City Hotel,August,HB,DEU,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07

Teraz czas się zastanowić, jaki typ danych posiada dana kolumna, np. hotel to napewno jest dana nominalna a miesiąc możemy traktować jak daną porządkową. Kolumny gorącojedynkowe możemy uzyskać w następujący sposób:

In [55]:
pd.get_dummies(df[['hotel', 'reserved_room_type', 'assigned_room_type', 'deposit_type']])

,hotel_City Hotel,hotel_Resort Hotel,reserved_room_type_A,reserved_room_type_B,reserved_room_type_C,reserved_room_type_D,reserved_room_type_E,reserved_room_type_F,reserved_room_type_G,reserved_room_type_H,...,assigned_room_type_F,assigned_room_type_G,assigned_room_type_H,assigned_room_type_I,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable
0,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
119386,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
119387,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
119388,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
119389,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

Jako przykład danych porządkowych spróbujemy zastosować kolumnę "meal", ponieważ można to potraktować myśleniem "tamten klient miał bardziej eksluzywną usługę". Danymi porządkowymi możemy poradzić sobie następująco:

In [56]:
df["meal"] = df["meal"].astype('category')
df.dtypes

hotel                               object
is_canceled                          int64
lead_time                            int64
arrival_date_year                    int64
arrival_date_month                  object
arrival_date_week_number             int64
arrival_date_day_of_month            int64
stays_in_weekend_nights              int64
stays_in_week_nights                 int64
adults                               int64
children                           float64
babies                               int64
meal                              category
country                             object
market_segment                      object
distribution_channel                object
is_repeated_guest                    int64
previous_cancellations               int64
previous_bookings_not_canceled       int64
reserved_room_type                  object
assigned_room_type                  object
booking_changes                      int64
deposit_type                        object
agent                              float64
company                            float64
days_in_waiting_list                 int64
customer_type                       object
adr                                float64
required_car_parking_spaces          int64
total_of_special_requests            int64
reservation_status                  object
reservation_status_date             object
dtype: object

In [57]:
df["meal_cat"] = df["meal"].cat.codes
df[['meal','meal_cat']]

       meal  meal_cat
0        BB         0
1        BB         0
2        BB         0
3        BB         0
4        BB         0
...     ...       ...
119385   BB         0
119386   BB         0
119387   BB         0
119388   BB         0
119389   HB         2

[119390 rows x 2 columns]